body {
  font-family: 'Cutive Mono';
  margin-top: 50px;
  margin-bottom: 50px;
}

.things {
  width: 80%;
  margin: 0 auto;
}

.intro-header, .social-links {
  text-align: center;
}

.social-links > a {
  color: inherit;
  text-decoration: none;
}